<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="net.sf.e4ftrace.ui.definition.myactivePartId">
         <with
               variable="myactivePartId">
            <equals
                  value="net.sf.e4ftrace.ui.part.timeline">
            </equals>
         </with>
      </definition>
   </extension>

</plugin>
